
#background {
    height: 725px;
}
body{
    text-align: center;
    background-color:#90E0EF;
}
header{
    text-align: center;
    background-color: #03045E;
}
nav a:hover{
    background-color:#00B4D8;
}
.book, .join{
    text-align: center;
    text-decoration: none;
    background-color:#0077B6;
}
.book:hover, .join:hover{
    background-color:#0077B6;
}
#background{
    background-color:#03045E;
}
.msg{
    text-align: center;
    background-color:#00B4D8;
}
footer{
    text-align: left;
    background-color:#00B4D8;
    color: #90E0EF;
}
footer a{
    text-align: center;
    text-decoration: none;
    background-color: #00B4D8;
    color: #0077B6;
}
footer a:hover{
    background-color: #03045E;
    color: #00B4D8;
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}


nav a{
    text-align: center;
    text-decoration: none;
    color: #00B4D8;
}
nav a:hover{
    color: black;
}

.book, .join{
    background-color: #00B4D8;
    color: #03045E;
}

.home-title{
    color:#03045E ;
}
h4{
    color: #0077B6;
}

.book:hover, .join:hover{
    background-color: #03045E;
    color: #0077B6;
}
.msg h2{
    background-color: #0077B6;
    color: white;
}
.msg p{
    background-color: #00B4D8;
    color: black;
}

.icon {
    width: 80px;
}
